@charset "utf-8";
/* CSS Document */
/*стиль для ввода ссылки*/
*{
	margin: 0;
	padding: 0;
}
#enterlink {
	position: absolute;
	top: 8%;
	left: 20%;
	width: 60%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	border-color: black;
	background-color: inherit;
	text-align: center;
	font-style: oblique;
	color: chartreuse;
	font-size: 1em;
	font-weight: bold;
	opacity: .7;
/*	white-space: pre-wrap;*/
	background-image: url(img/temnaja-metallicheskaja-setka-1.jpg)
}
#enterlink :focus{
	background: #ffe; /* Цвет фона */
    border: 1px solid #29B0D9; /* Параметры рамки */
}
/*настройка поля-div для ввода требуемых фильтров*/
#intabel{
	position: absolute;
	top:19%;
	left: 32%;
	width: 37.1%;
	height: 60%;
	color: aqua;
	background-image: url(img/temnaja-metallicheskaja-setka-1.jpg)
/*==========================================================================	*/
}
#number{
	border: groove;
	border-color: aqua;
	border-bottom: hidden;
	position: absolute;
	color: brown;
	text-align: center;
	font-size: 150%;
	top : 7.9%;
	left: 21.1%;
	height: 7%;
	width: 78%;
	margin: 0 0 0 0;
}

#f1{
	position: absolute;
	top : 1%;
	width: 19.5%;
	height: 90%;
	left: 0%;
	border: groove;
	border-bottom: hidden;
	border-top: hidden;
	border-left: hidden;
	border-left-color: aqua;
	border-right-color: aqua;
}
#f2{
	position: absolute;
	width: 19.5%;
	height: 90%;
	left: 20%;
	border: groove;
	border-bottom: hidden;
	border-top: hidden;
	border-left: hidden;
	border-left-color: aqua;
	border-right-color: aqua;
}
#f3{
	position: absolute;
	width: 19.5%;
	height: 90%;
	left: 40%;
	border: groove;
	border-bottom: hidden;
	border-top: hidden;
	border-left: hidden;
	border-left-color: aqua;
	border-right-color: aqua;
}
#f4{
	position: absolute;
	width: 19.5%;
	height: 90%;
	left: 60%;
	border: groove;
	border-bottom: hidden;
	border-top: hidden;
	border-left: hidden;
	border-left-color: aqua;
	border-right-color: aqua;
}
#f5{
	position: absolute;
	width: 19.5%;
	height: 90%;
	left: 80%;
	border: groove;
	border-bottom: hidden;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
	border-left-color: aqua;
	border-right-color: aqua;
}
#first{
	position: relative;
	left:0%;
}
#second{
	position: relative;
	left:7%;
}
#third{
	position: relative;
	left:14%;
}
#fourth{
	position: relative;
	left:21%;
}
#fifth{
	position: relative;
	left:28%;
}
.panel_number{
	margin: 0% 2% 0% 2%;
	padding: 2% 2%;
	display: inline;
	vertical-align: middle;
	
}
/*============================================================================*/
#headfilter{
/*	float : left;*/
	width: 99%;
	height: 7%;
	font-size: 120%;
	color: brown;
	border-color: aqua;
	border: outset;
}
/*===========================================================================*/
#value{
	border:groove;
	border-color: aqua;
	position: absolute;
	height: 70%;
	width:20.6%;
	top:10%;
	margin: 4% 0 0 0;
/*	white-space: pre-wrap;*/
}
.item{
	color: aqua;
	border: groove;
	border-color: aqua;
	border-left: hidden;
	border-right: hidden;
	border-top: hidden;
	width: 100%;
	height: 19.4%;
}
/*============================================================================*/
/*настройка для сетка*/
#setka{
	border-style: groove;
	border-color: aqua;
	position:  absolute;
	left: 21%;
	top : 15%;
	width: 78%;
	height: 70%;
}
#s1{
	position: absolute;
	top: 0%;
	border-bottom: groove;
	border-bottom-color: aqua;
	width: 100%;
	height: 19.5%;	

}
#s2{
	position: absolute;
	top: 20%;
	border-bottom: groove;
	border-bottom-color: aqua;
	width: 100%;
	height: 19.5%;	

}
#s3{
	position: absolute;
	top: 40.4%;
	border-bottom: groove;
	border-bottom-color: aqua;
	width: 100%;
	height: 19.5%;	

}
#s4{
	position: absolute;
	top: 60.5%;
	border-bottom: groove;
	border-bottom-color: aqua;
	width: 100%;
	height: 19.5%;	

}
#s5{
	position: absolute;
	top: 80%;
	width: 100%;
	height: 19.5%;	

}
.iodisplay{
	display:inline-grid;
	float: left;
	border: groove;
	border-width: thin;
	border-right: hidden;
	border-top: hidden;
	border-color :aqua;
	width: 19.69%;
	height: 19.8%
}

.user_i{
	position: relative;
	left: 3%;
	top : 3%;
	width: 94%;
	height: 93%;
	border: dashed;
	border-color: chartreuse;
	border-width: 1.5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 200%;
	text-align: center;
	color :deeppink;
	opacity: 0.3;
}
.user_i:focus{
	background: yellow; /* Цвет фона */
    border-width: 10px groove red; /* Параметры рамки */
/*	opacity: .9;*/
}
#lg1{
	position: relative;
	top: 14.5%;
}
#lg2{
	position: relative;
	top: 34%;
}
#lg3{
	position: relative;
	top: 53.2%;
}
#lg4{
	position: relative;
	top: 67.5%;
}
#lv1{
	position: relative;
	width: 2%;
	height: 10%;
}
/*=============================================================================*/
/*настройка позиции блока div в котором находится кнопка старт*/
#button{
	position: absolute;
	top:87%;
	left: 50%;
}

/*настройка позиции кнопки сохранения ссылки*/
#Sbutton{
	position: absolute;
	top:14%;
	left: 21%;
	
/*настройка позиции кнопки загрузки ссылки*/
}
#Lbutton{
	position: absolute;
	top:14%;
	left:73%;
	
}
/*свойства кнопок "загрузить" "сохранить" "старт"*/
.io{
	background: #0A2088;
	font: oblique;
	color: aqua;
}

/*настройка размеров окон ввода кэфа*/


.text_tabel{
/*	position: absolute;*/
	vertical-align : middle;
	font-size: 240%;
	margin: 0 0 0 0;
	padding: 1% 1%;
}

.div_setka{
	border: groove;
	border-color: aqua;
	width: 18%;
	height:18%;
	display: inline-grid;
}















